//- Declaration (body-scripts-mixin.pug)
mixin body-scripts
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src='js/materialize.js')
  script(src='js/init.js')
  script(src="js/prism.js")
