//- Declaration (footer-mixin.pug)
mixin footer
  footer.page-footer.red.darken-2
    div.container
      div.row
        div.col.s12
          h5.white-text About CVU
          p.grey-text.text-lighten-4 Champlain Valley Union High School is a community dedicated to facilitating and empowering students in their education. It's a fun place to go to school for sure :)
          a#download-button.btn.waves-effect.waves-light.teal.lighten-1(href='https://www.cvsdvt.org/Domain/12') Learn More

    div.footer-copyright
      div.container.
        &copy;CVUHS 2017. Powered by node.js, materialize.css, and lots of caffeine.
